<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ando.repo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndoRepo"
        tools:ignore="AllowBackup,UnusedAttribute">

        <!--允许绘制到oppo、vivo刘海屏机型的刘海区域 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- 允许绘制到华为刘海屏机型的刘海区域 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 允许绘制到小米刘海屏机型的刘海区域 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="uiMode|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="uiMode|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.coordinator.TabLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.indicator.IndicatorActivity"
            android:configChanges="uiMode|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.indicator.IndicatorViewPagerNoActivity"
            android:configChanges="uiMode|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.indicator.IndicatorViewPagerActivity"
            android:configChanges="uiMode|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.banner.BannerActivity"
            android:configChanges="uiMode|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.banner.BannerGuideActivity"
            android:configChanges="uiMode|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.button.ButtonActivity"
            android:configChanges="uiMode|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.recycler.decoration.RecyclerDecorationProviderActivity"
            android:configChanges="uiMode|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity android:name="ando.repo.ui.recycler.decoration.activity.VerticalLinearActivity" />
        <activity android:name="ando.repo.ui.recycler.decoration.activity.HorizontalLinearActivity" />
        <activity android:name="ando.repo.ui.recycler.decoration.activity.VerticalGridActivity" />
        <activity android:name="ando.repo.ui.recycler.decoration.activity.HorizontalGridActivity" />
        <activity android:name="ando.repo.ui.recycler.decoration.activity.VerticalStaggeredGridActivity" />
        <activity android:name="ando.repo.ui.recycler.decoration.activity.HorizontalStaggeredGridActivity" />
        <activity
            android:name=".ui.recycler.diff.RecyclerDiffActivity"
            android:configChanges="uiMode|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DragActivity"
            android:configChanges="uiMode|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.string.StringExpandActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>