<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ando.webview">

    <application>

        <activity
            android:name=".core.ActionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/actionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>
</manifest>